# Move these packages to base docker images
# when finished testing/development

# Fracture detection
PyCoShREM

# Experimental / ODMax
GEOS
ODMax
#lavavu-osmesa
jupytext
voila

# WheatHub
rasterio
rasterstats
